.invalid {
  border-bottom: 1px solid lightcoral;
}

.valid {
  border-bottom: 1px solid #004d40;
}

input + p,
select + p {
  opacity: 0;
  height: 0;
  font-size: 10px;
}

.invalid + p {
  opacity: 1;
  height: auto;
}
